<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.cordova.allinpay"
        version="0.0.1">

  <name>Cordova All In Pay</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/allinpay.js" target="js/allinpay.js"/>

  <js-module src="www/allinpay.js" name="allinpay">
    <clobbers target="allinpay" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AllInPay">
        <param name="android-package" value="com.cordova.plugin.AllInPay"/>
      </feature>
    </config-file>

    <source-file src="src/android/AllInPay.java" target-dir="src/com/cordova/plugin/"/>
    <source-file src="src/android/PaaCreator.java" target-dir="src/com/cordova/plugin/"/>
    <source-file src="src/android/APPayAssistEx.jar" target-dir="libs/"/>
    <source-file src="src/android/APPayAssistEx.apk" target-dir="assets/"/>
  </platform>
  
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="AllInPay">
        <param name="ios-package" value="AllInPay" />
      </feature>
    </config-file>
	<framework src="CoreTelephony.framework" />
	<framework src="CoreLocation.framework" />
	<framework src="Security.framework" />
	<framework src="SystemConfiguration.framework" />
	<framework src="CoreText.framework" />
	<framework src="AudioToolbox.framework" />
	<framework src="CoreGraphics.framework" />
	<framework src="libstdc++.6.0.9.dylib" />
	<framework src="QuartzCore.framework" />	

	<framework src="src/ios/TrustDefenderMobile.framework" custom="true" />
    <header-file src="src/ios/APay.h" />
    <resource-file src="src/ios/APayRes.bundle" />
    <source-file src="src/ios/libAPayLib.a" framework="true" />
	<resource-file src="src/ios/APMPPassGuardCtrlBundle.bundle" />
	
	<header-file src="src/ios/PaaCreater.h" />
	<source-file src="src/ios/PaaCreater.m" />
	
	<header-file src="src/ios/AllInPay.h" />
	<source-file src="src/ios/AllInPay.m" />
  </platform>
</plugin>